body {
  background-color: #7adaf5;
  text-align: center;
  color: #104d93;
}


#myCanvas {
  background-image: url("https://media.istockphoto.com/id/817436664/photo/landscape-of-grass-field-and-green-environment-public-park-use-as-natural-background-backdrop.jpg?s=612x612&w=0&k=20&c=B2FnusRbl93tCXXyjH-XNOcadIROw4PTt7MOyEvOZnA=" );
  background-size: fill;
  background-repeat: no-repeat;
  border-radius: 30px;
  border: 1px solid rgb(255,245,227);
}

.main{
  display: flex;
  text-align: left;
  justify-content: space-around;
}

